
h1 {
    font-size: 40px;
    font: gold;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
}

p{
    margin-top: 50px;
}

h3{
    font-size: 20px;
    font: red;
    text-align: center;
}

body{
    background-color: 	GhostWhite;
    font-family: "";
}

font-face{
    font-family: 'Alex';
    src: './fonts/AlexBrush-Regular.woff' format('woff');
}
